config:
  # Aiven Configuration
  clustera-infrastructure:aiven_project: your-aiven-project-name-staging
  clustera-infrastructure:kafka_service: your-kafka-service-name-staging

  # GCP Configuration
  clustera-infrastructure:gcp_project: your-gcp-project-id-staging
  gcp:project: your-gcp-project-id-staging
  gcp:region: us-central1
