config:
  # Aiven Configuration
  clustera-infrastructure:aiven_project: your-aiven-project-name-testing
  clustera-infrastructure:kafka_service: your-kafka-service-name-testing

  # GCP Configuration
  clustera-infrastructure:gcp_project: your-gcp-project-id-testing
  gcp:project: your-gcp-project-id-testing
  gcp:region: us-central1
